#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.1
Type=Application
Terminal=false
Exec=vglrun /opt/metashape-pro/metashape.sh
Name="VirtualGL Metashape"
Comment=1.7.3
Icon=/usr/share/icons/xpra.png
NoDisplay=false